# General
NAME="app"
DEBUG=true
PORT=8000
HOST=0.0.0.0

# Database
# For Local Dev: استفاده از localhost
# For Docker: Use db (as defined in docker-compose)
DATABASE_URL=postgresql+asyncpg://postgres:example@localhost:5432/blog

# Cache
# For Local Dev: Use localhost
# For Docker: Use redis
REDIS_URL=redis://localhost:6379/0

# Security
SECRET_KEY=change-me-in-production
